body{
  margin: 0 auto;

}

header{
  max-width: 1160px;
  margin: 0 auto;
}


.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  /*================ Shared Style============== */

  .orange{
    color: #FEA301;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .light-sky{
    color: #05D4DF;
  }
  .purple{
    color: #5D58EF;
  }
  .display-flex{
    display: flex;
  }
  .section-title{
    margin-bottom: 80px;
    font-size: 46px;
    font-weight: 600;
    text-align: center;
  }

.section-description{
    font-size: 15px;
    line-height: 28px;
    color: #666666;
    font-family: "Raleway", serif;
    text-align: center;
    padding: 10px 30px;
}
.btn{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: black;
    color: #f7f7f7;
    border: none;

}
.btn:hover{
    background: #05D4DF;
    transition: .3s;
    color: black;
    cursor: pointer;
}

/* ==============Navbar Style============= */
.navbar{
    justify-content: space-between;
    padding: 20px 0px;

}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.home{
  font-weight: 600;
}
.nav-btn{
    background-color: #FEA301;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 10px;
}
nav ul li a:hover{
  color: #666666;
  transition: .3s;
}
.nav-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.school{
  font-size: 32px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}
.logo{
  height: 60px;
}


#menu-icon{
  font-size: 36px;
  color: black;
  display: none;
}
.line{
  display: none;
  width: 100%;
  height: 1px;
  background: orange;
  
}

marquee{
  font-size: 28px;
  font-weight: 600;
  background-color: #ffffff;
  width: 60%;
 
}

/* =======Banner========= */
.banner{
  display: flex;
  height: 575px;
}

.banner-content{
  justify-content: first baseline;
  align-items: center;
  width: 640px;
  height: 330px;
  margin-top: 100px;
 
}
.banner-heading{
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 0px;
  margin-top: 0px;

}
.banner-description{
  font-size: 20px;
  margin: 24px 0px;
}
.banner-kid{
  width: 470px;
  height: 575px;
  margin: 0px 0px 0px 50px;
}

/* ==========Standard Curriculum================= */
.container{
  max-width: 1160px;
  margin: 0 auto;
}
.card-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.card-item{
  width: 340px;
  border-radius: 10px;

}
.card-1{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(180deg, #b9eaec, #edf1f3);
}


.card-2{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(180deg, #faf9bb, #edf1f3);
}
.card-3{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(180deg, #9fb3f3, #edf1f3);
}

.card-title{
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.card-img{
  padding-left: 100px;
  padding-top: 20px;
}
.read-more{
  font-weight: 600;
  text-align: center;
}

.arrows-container{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.array-left{
  background: orange;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.fa-angle-left{
  color: #ffffff;
  transform: translate(1.0rem, .9rem);
  font-size: 25px;

}
.array-right{
  background: orange;
  height: 50px;
  width: 50px;
  border-radius: 50%;

}
.fa-angle-right{
  color: #ffffff;
  transform: translate(1.1rem, .8rem);
  font-size: 25px;

}

/* ================================Our Story========================================== */
.story-section{ 
  background-size: cover;
  background-image: url(../images/bg.png), linear-gradient(#ffe1ab1f, #ffe1ab2b, #ffe28d69, #fe8d0130);
}
.our-story{
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;

}
.row{
  width: 290px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.story-1{
  width: 540px;
  margin: 0px 10px;
}
.row img{
  border-radius: 10px 10px 0px 0px;
}
.stories{
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.story-heading{
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  margin: 40px;
}
.story-description{
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  color: #666666;
  margin: 40px;
}
.story-title{
  font-size: 15px;
  font-weight: 800;
  line-height: 28px;
  color: #070000;
  margin: 30px;
}
.title{
  padding-top: 60px;
}
.story-btn{
   padding: 15px 30px ;
   border-radius: 30px;
   border: none;
   background: #05D4DF;
   translate: 30px -30px;
   color: #ffffff;
}

/* .story-btn:hover{
  background-color: #070000;
  cursor: pointer;
  transition: .4s;
} */

.btn-2 {
  background: #5D58EF;
}
.btn-3{
  background: olive;

}

.btn-4{
  background: plum;
}

.view-all{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
/* ======================footer section======================= */
.footer-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #01ACFD;
  padding: 50px 0px;
  margin: 0;
}
.footer-links{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-logo{
  width: 60%;
  display: flex;
}
.footer-description{
  width: 60%;
  margin-left: 80px;
}
.brand-name{
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}
.footer-icon{
  height: 90px;
  margin-top: 30px;
  margin-right: 10px;
}
.brand-description{
  font-size: 20px;
  color: #ffffff;
  margin-top: 0px;
}
.about{
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.links li{
  list-style: none;
  margin-bottom: 20px;
}

.links li a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}
.social img{
  margin-right: 5px;
}

footer{
  margin: 0px;
}


/* =====================================Responsive media query======= */
@media screen and (max-width: 576px){

  #menu-icon{
    display: block;
    margin-right: 1.1rem;
  }
  .logo{
    margin-left: 1.1rem;
    height: 3.1rem;
  }
.nav-links, .nav-btn{
  position: fixed;
  top: 100%;
  width: 100%;
  left: 0;
  
}
.school{
  display: none;
}
.line{
  display: inline-block;
  margin-bottom: 12.5rem;
}

/* ======banner ======= */
.banner{
  flex-direction: column-reverse;

 
}

.banner-content{
  text-align: center;
  width: 400px;
  justify-content: center;
  margin-left: 3.9rem;
  padding-left: 1.5rem;
 
}
.banner-heading{
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 0px;

}
.banner-description{
  font-size: 16px;
  margin: 20px 0px;
}
.banner-kid{
  width: 375px;
  height: 400px;
 margin-left: 4.9rem;
 margin-top: 5.9rem;
  
}

/* ==============card================ */
.card-items{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 20px;
}
.card-item{
  width: 340px;
  border-radius: 10px;
  
}
.section-title{
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.arrows-container{
  display: none;
}
/* ================our Story============ */
.story-1{
  display: none;
}

.stories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 68px;

}

.story-title{
  font-size: 12px;
  line-height: 26px;
  color: #070000;
  margin: 10px;
}

.story-btn{
   padding: 10px 20px ;
}
.row{
  width: 200px;
 
  
}
.row img{
  width: 100%;
}

/* ===============footer=============== */

.footer-section{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 30px 0px;
  
}

.footer-links{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
 justify-content: center;
 margin-left: 3.1rem;
}




}