body{
    background: url(../images/bg.png);
    max-width: 1160px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;

}


.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  /*================ Shared Style============== */

  .orange{
    color: #FEA301;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .light-sky{
    color: #05D4DF;
  }
  .purple{
    color: #5D58EF;
  }
  .display-flex{
    display: flex;
  }
  .section-title{
    margin-bottom: 80px;
    font-size: 46px;
    font-weight: 600;
    text-align: center;
  }

.section-description{
    font-size: 15px;
    line-height: 28px;
    color: #666666;
    font-family: "Raleway", serif;
    text-align: center;
    padding: 10px 30px;
}
.btn{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: black;
    color: #f7f7f7;
    border: none;
}
.btn:hover{
    background: #05D4DF;
    transition: .3s;
    color: black;
    cursor: pointer;
}

/* ==============Navbar Style============= */
.navbar{
    justify-content: space-between;
    padding: 20px 0px;

}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.home{
  font-weight: 600;
}
.nav-btn{
    background-color: #FEA301;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 10px;
}
nav ul li a:hover{
  color: #666666;
  transition: .3s;
}
.nav-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.school{
  font-size: 32px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}
.logo{
  height: 60px;
}


#menu-icon{
  font-size: 36px;
  color: black;
  display: none;
}
.line{
  display: none;
  width: 100%;
  height: 1px;
  background: orange;
  
}

/* =======Banner========= */
.banner{
  display: flex;
  height: 575px;
}

.banner-content{
  justify-content: first baseline;
  align-items: center;
  width: 640px;
  height: 330px;
  margin-top: 100px;
 
}
.banner-heading{
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 0px;
  margin-top: 0px;

}
.banner-description{
  font-size: 20px;
  margin: 24px 0px;
}
.banner-kid{
  width: 470px;
  height: 575px;
  margin: 0px 0px 0px 50px;
}

/* ==========Standard Curriculum================= */

.card-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.card-item{
  width: 340px;
  border-radius: 10px;

}
.card-1{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(180deg, #b9eaec, #edf1f3);
}


.card-2{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(180deg, #faf9bb, #edf1f3);
}
.card-3{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(180deg, #9fb3f3, #edf1f3);
}

.card-title{
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.card-img{
  padding-left: 100px;
  padding-top: 20px;
}
.read-more{
  font-weight: 600;
  text-align: center;
}

.arrows-container{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.array-left{
  background: orange;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.fa-angle-left{
  color: #ffffff;
  transform: translate(1.0rem, .9rem);
  font-size: 25px;

}
.array-right{
  background: orange;
  height: 50px;
  width: 50px;
  border-radius: 50%;

}
.fa-angle-right{
  color: #ffffff;
  transform: translate(1.1rem, .8rem);
  font-size: 25px;

}
.our-story{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.story-1{
  grid-template-rows: 2, 2fr;
}




/* ====Responsive media query======= */
@media screen and (max-width: 576px){

  #menu-icon{
    display: block;
    margin-right: 1.1rem;
  }
  .logo{
    margin-left: 1.1rem;
    height: 3.1rem;
  }
.nav-links, .nav-btn{
  position: fixed;
  top: 100%;
  width: 100%;
  left: 0;
  
}
.school{
  display: none;
}
.line{
  display: inline-block;
  margin-bottom: 12.5rem;
}

/* ======banner ======= */
.banner{
  flex-direction: column-reverse;

 
}

.banner-content{
  text-align: center;
  width: 400px;
  justify-content: center;
  margin-left: 3.9rem;
  padding-left: 1.5rem;
 
}
.banner-heading{
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 0px;

}
.banner-description{
  font-size: 16px;
  margin: 20px 0px;
}
.banner-kid{
  width: 375px;
  height: 400px;
 margin-left: 4.9rem;
 margin-top: 5.9rem;
  
}

/* ==============card================ */
.card-items{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 20px;
}
.card-item{
  width: 340px;
  border-radius: 10px;
  
}
.section-title{
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.arrows-container{
  display: none;
}

}
  
